@rendermode InteractiveServer
@inject DatabaseContext Context

@if (trainers == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <QuickGrid Theme="pokemon" Class="table" Items="@FilteredTrainers" Pagination="@pagination">
            <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Name)" Sortable="true">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" autofocus @bind="nameSearch" @bind:event="oninput" placeholder="Trainer name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Property="@(p => p.Companion.Name)" Sortable="true" />
            <TemplateColumn Title="Edit">
                <button class="btn btn-success" @onclick="() => Edit(context)">Edit</button>
            </TemplateColumn>
            <TemplateColumn Title="Delete">
                <button class="btn btn-danger" @onclick="() => Delete(context)">Delete</button>
            </TemplateColumn>
        </QuickGrid>
        <Paginator State="@pagination" />
    </div>
}

@code {

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private string nameSearch;

    [Parameter]
    public EventCallback<Trainer> OnEditClicked { get; set; }

    [Parameter]
    public EventCallback<Trainer> OnDeleteClicked { get; set; }

    private IQueryable<Trainer>? trainers;
    private IQueryable<Trainer>? FilteredTrainers
    {
        get
        {
            IQueryable<Trainer>? filtered = trainers;
            if (!string.IsNullOrEmpty(nameSearch))
            {
                filtered = filtered?.Where(c => c.Name.Contains(nameSearch, StringComparison.CurrentCultureIgnoreCase));
            }
            return filtered;

        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetTrainers();
    }

    public async Task Refresh()
    {
        await GetTrainers();
        StateHasChanged();
    }

    private async Task GetTrainers()
    {
        trainers = (await Context.Trainers.Include(t => t.Companion).ToListAsync()).AsQueryable();
    }

    private void Edit(Trainer trainer)
    {
        OnEditClicked.InvokeAsync(trainer);
    }

    private async void Delete(Trainer trainer)
    {
        Context.Trainers.Remove(trainer);
        await Context.SaveChangesAsync();
        await Refresh();

        await OnDeleteClicked.InvokeAsync(trainer);
    }
}
